# FILE: overlays/prod/insurance-app/deployment-patch.yaml

apiVersion: apps/v1
kind: Deployment
metadata:
  name: insurance-app-deployment
  annotations:
    argocd.argoproj.io/sync-wave: "1"
spec:
  replicas: 1
  template:
    spec:
      containers:
        - name: insurance-app-container
          env:
            - name: SERVER_FORWARD_HEADERS_STRATEGY
              value: framework
