apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

# Ktoré základné konfigurácie používame
resources:
- ../../base/insurance-app # Základ pre App1
- ../../base/booking-app   # Základ pre App2
- ../../base/mariadb       # Možno lokálnu DB
- ../../base/metallb       # Pre lokálny LoadBalancer

# Aké patche (zmeny) aplikujeme
patchesStrategicMerge:
# Napríklad, lokálne môžeme chcieť menej replík (replicas: 1) 
# alebo iné hodnoty pre tajomstvá (Secrety).
- patches/app1-local-patch.yaml
- patches/app2-local-patch.yaml

# Hodnoty, ktoré chceme zmeniť hromadne
commonLabels:
  env: local # Označenie všetkých zdrojov pre toto prostredie
