apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../../base/booking-app

patches:
  - path: service-patch.yaml
    target:
      kind: Service
      name: booking-app-service

  - path: deployment-patch.yaml
    target:
      kind: Deployment
      name: booking-app-deployment
